*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
    
}

#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#calculator{
    background-color: rgb(242, 242, 247);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #e0e7ea,
                      5px 5px 12px #0f0e0f;
    display: grid;
    grid-template-columns: repeat(4,100px); 
}
input{
    grid-column: span 4;
    padding: 15px;
    border-radius: 12px;
    height: 70px;
    width: 400px;
    background-color: #ffffff;
    box-shadow: inset 5px 5px 12px black,
                      5px 5px 12px peachpuff; 
    border: none;
    color: rgb(70,70,70);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;

}

button{
    height: 48px;
    padding: 10px;
    border-radius: 17px;
    border-color: bisque;
    box-shadow: inset 5px 5px 12px grey,
                      5px 5px 12px peachpuff;
    border: none;
    margin: 8px;
    font-size: 16px;

}

.equal{
    width: 185px;

}